<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/exercise1.css" type="text/css">
    <title>KanyeRest API</title>
</head>
<body>
    <div id = "container">
        <h2> The Kanye West Joke Generator</h2>
        <img src="kanyewest.png" alt="Kanye West">
        <form action="/" method="post">
            <input type="submit" name="submit" id="submit" value = "Generate Joke">
        </form>
    </div>
</body>
</html>