<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="exercise1.css">
    <title>Vote</title>
</head>
<body>
    <div id = "container"> 
        <h1>Kanye West says: <span id = 'quote'>"<%= Joke %>"</span></h1>    
       <h2>Is the Joke Funny?</h2>
        <img src="kanye_neutral.png" alt="kanye-neutral">
 
        <form action="/vote" method="post">
                <input type="submit" id = "vote_result1" name = "vote_result1" value = "upvote">
            <input type="submit" id = "vote_result2" name = "vote_result2" value = "downvote">
        </form>
    </div>
    <script src="index.js"></script>
</body>
</html>