body{
    background-color: darkslategrey;
    color: wheat;
}

#container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column ;
}

img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

form input[type="submit"]{
    background-color: rgb(63, 231, 63);
    border-radius: 2px;
    width: 150px;
    height: 35px;

    color:chocolate;
    font-weight: bold;
}

form input[type="submit"]:hover{
    background-color: rgb(101, 255, 101);
    width: 153px;
    height: 38px;
    cursor: pointer;
}

#quote{
    font-style: italic;
}